
.cmall-list{
	margin: 20px 0;
}
.cmall-detail{
	height: 30px; line-height:30px
}
.cmall-detail li{
	float: left; padding: 0 5px;
}
.cmall-price{
	font-size: 14px; font-weight:bold;
}
.cmall-tit{
	font-size: 14px; font-weight:bold;
}
.cmall-txt{
	font-size: 12px; color: #383838;
}

.cmall-options {
  background: #F2F3F5;
  border: 1px solid #DEE3E0;
  clear: both;
  overflow: hidden;
  margin-top: 5px;
    border-bottom: 0;;
}
.cmall-options li {
  color: #5A5A5A;
  border-bottom: 1px solid #DEE3E0;
  padding: 5px;
}
.change_option{padding:5px 10px 5px 10px; color: #fff; background: #555; border: none;width:100%;}

.product-box{overflow: hidden; clear: both;}
.product-box .product-left{float: left; margin-right: 2%; width: 41%; position: relative;}
.product-box .product-left img{
	width: 100%;
}
.product-box .product-left .prev{position: absolute;left: 0; top: 45%;
	
}
.product-box .product-left .next{position: absolute;right: 0; top: 45%;
	
}
.product-box .btn-prev{width: 45px; height: 45px; display: inline-block;}
.product-box .btn-next{width: 45px; height: 45px;display: inline-block;}
.product-right{width: 57%; float: left;}
.product-detail{margin: 20px;clear: both;  overflow: hidden;}
.product-option{clear: both;overflow: hidden;}

.product-info{clear: both;width: 100%; display: block;overflow: hidden;border: 1px solid #dcdcdc;}
.product-info .product-info-top{background: #ededed;width: 100%; height: 30px; line-height:30px;border-bottom: 1px solid #dcdcdc;}
.product-info .product-info-top li{float: left; width: 33%; display: inline-block; text-align:center; border-right: 1px solid #dcdcdc;}
.product-info .product-info-top li:last-child{border-right: none !important;}
.product-info .product-info-top li:hover{background: #587ccd; color: #fff;}
.product-info .product-info-top li:hover a{background: #587ccd; color: #fff;}
.product-info .product-info-top .current{background: #587ccd; color: #fff;}
.product-info .product-info-top .current a{color: #fff;}
.product-feedback{margin:20px; overflow: hidden; border-bottom: 1px solid #dcdcdc; padding-bottom: 10px;}
.product-feedback ul{overflow: hidden;overflow: hidden;color: #5f5f5f;font-size: 12px;}
.product-feedback ul li{float: left; padding-right:10px}
.feedback-box{background:#f1f1f1; border: 1px solid #dcdcdc; clear: both; overflow: hidden; padding: 10px; margin-top: 10px !important;}
.detail-box{background:#f1f1f1; border: 1px solid #dcdcdc; clear: both; overflow: hidden; padding: 5px; margin-top: 5px !important;}

.product-title{font-weight: bold;padding-bottom: 10px;font-size: 16px;}
.product-no{font-size: 13px;}
.popup-cart{
	width: 600px; z-index: 999; height:auto; display:block; position: absolute; background:#fff; border: 2px solid #dcdcdc; padding:20px 20px 10px;
}

.total_price {
	float:right;
	font-weight:bold;
	font-size:14px;

}

table.item_detail_table th {text-align:center;}
table.item_detail_table td {text-align:center;}
table.item_detail_table .detail_price {text-align:right; padding-right:30px;}
table.item_detail_table .cart_total_price {text-align:right;padding-right:30px;font-weight:bold;}
.detail_qty {width:50px;}

.item_slider img {cursor:pointer;}

.review-score label {margin-right:20px;}
.review-content {display: none;}
.qna-content {display: none;}
.item_review_title, .item_qna_title  {cursor:pointer;}

.main_box {width:21%; 
  padding-right: 15px;
  padding-left: 15px;
}
.main_box  img {padding:4px;}
.row {
  margin-right: -15px;
  margin-left: -15px;
}
.cmall-main-title {  font-weight: 500; line-height: 1.1;  color: inherit;font-size:14px;margin-bottom:20px;}

.table-image{overflow: hidden;clear: both;}
.table-image li{width: 23%;float: left;padding: 0 1%;}
.table-image ul{margin-bottom: 10px;overflow:hidden;}

.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #f5f5f5;
  border-radius: 4px;
}
.breadcrumb>li {
  display: inline-block;
}
.breadcrumb>li+li:before {
  padding: 0 5px;
  color: #ccc;
  content: "/\00a0";
}
.cmall-category-nav {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-color: #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
 }
.cmall-category-nav-body {
  padding: 15px;
  display:table;
}
.product-detail img, .review-content img, .qna-content img {max-width:100%;}

.market table{
	font-size: 13px;
}
.market-list{margin: 20px 0;}
.market-detail{height: 30px; line-height:30px}
.market-detail li{float: left; padding: 0 5px;}
.market-price{font-size: 14px; font-weight:bold;}
.market-title{font-size: 15px;
font-weight: bold;
border-bottom: 1px solid #dcdcdc;
padding-bottom: 15px;
	
}
.market-tit{font-size: 14px; font-weight:bold;}
.market-txt{font-size: 12px; color: #383838;}
.bank-info {display:none;}
