/**
	formmail skin css
*/

.formmail li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.formmail li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}
.formmail .input {width:90%;}
.formmail textarea {height:300px;}
.formmailcontent {overflow-x:auto;}