/**
	member skin css
*/

.access .panel-footer{overflow:hidden;}
.provision{margin:0 auto;}
.search form{padding:20px;}
.search textarea {padding: 15px;background: #f7f7f7;font-size: 12px;}
.final{width: 500px; margin: 0 auto;}
.final .btn_final{margin-top:20px; text-align:center;}
.registeragree {padding:15px;  border-top: 1px solid #ddd;}
.registeragree li {display: block;margin: 0px; clear: both; margin-bottom: 15px;}
.registeragree li>span {float: left;width: 25%;text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}

.registerform li {display: block;clear: both;padding-bottom:10px; }
.registerform li>span {text-align: right;padding-right: 20px;margin-top: 5px;color: #000;font-weight: bold;}

.register_result {padding:30px;  border-top: 1px solid #ddd;}